# Criando Dataframe

In [16]:
import pandas as pd
import numpy as np

In [17]:
dataFrame = pd.date_range("20221201", periods=31)
print(dataFrame)

DatetimeIndex(['2022-12-01', '2022-12-02', '2022-12-03', '2022-12-04',
               '2022-12-05', '2022-12-06', '2022-12-07', '2022-12-08',
               '2022-12-09', '2022-12-10', '2022-12-11', '2022-12-12',
               '2022-12-13', '2022-12-14', '2022-12-15', '2022-12-16',
               '2022-12-17', '2022-12-18', '2022-12-19', '2022-12-20',
               '2022-12-21', '2022-12-22', '2022-12-23', '2022-12-24',
               '2022-12-25', '2022-12-26', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', freq='D')

In [18]:
mesDataFrame = pd.date_range("20221201", periods=12, freq='M')

print(mesDataFrame)

DatetimeIndex(['2022-12-31', '2023-01-31', '2023-02-28', '2023-03-31',
               '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31',
               '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30'],
              dtype='datetime64[ns]', freq='M')

In [19]:
#Dataframe de números aleatorios
numeros_aleatorios = pd.DataFrame(np.random.rand(5,1))
print(numeros_aleatorios)

          0
0  0.118911
1  0.028451
2  0.783133
3  0.029729
4  0.207738

In [20]:
#Dataframe de números aleatorios
numeros_aleatorios = pd.DataFrame(np.random.rand(15,10)* 100) 
print(numeros_aleatorios)

            0          1          2          3          4          5  \
0    4.652099   0.112803  85.447490  58.219546   8.050454  24.871448
1   15.960603  81.116132  83.429696  42.176657  42.000024  81.070165
2   14.048926  58.106656  58.550071  92.928052  86.730984  75.485151
3   64.874849  33.154603  55.435981   1.308239  33.704232  61.345480
4   22.754030  27.535637  51.151139  38.019439  15.993196  96.664740
5   22.236609  11.026313  95.758609  98.935318  10.387250  21.667456
6   92.470917  38.177446  71.415605  80.647428  37.287706  72.564238
7   62.255479  33.822911  10.986609  70.024195  28.258540  22.466222
8   78.814620  78.569982  90.726418  36.656719  70.971485  43.981604
9   73.321294  60.665757  90.607067  49.029325   0.997335  46.555166
10  11.641311  68.167634  12.423453  27.927812  21.580446  49.449046
11  18.231411  20.947859  94.456148  90.809959  70.629428  20.202718
12  38.282525  37.336438  35.705044  94.056935  71.528256  59.720364
13  80.083067  70.151712  57.872208  12.740186  33.225290  86.863452
14  79.104585  15.738629  41.118221  97.695719  84.503030   0.765072

            6          7          8          9
0    3.424127  52.419093  73.153808  84.077772
1   27.402834  10.164645   2.808135  87.781876
2   28.188457   3.094711   7.845546  21.209126
3    6.528677  76.474231  32.927898  80.279207
4   18.751271  42.836133  55.673240  98.229238
5   24.346691   4.220193   0.406576  23.842731
6   40.032842  73.991897  98.146058  68.131610
7   10.961321  64.137299  49.466281  58.818003
8   90.944755  98.873341  35.693616  41.383834
9    6.625773  38.105699  11.198626  61.799886
10  39.396634  85.188643  95.406180  15.017188
11   1.650767   7.370386  51.893177  38.019447
12   4.468619  12.933561  22.441469  99.238623
13  30.755743  77.681629  48.719920  23.197835
14  61.683336  30.237649  64.594056  17.137830

In [21]:
notas_alunos_df = pd.DataFrame({

    "Nome": ['Ana', 'Pedro', 'João'],
    "Media": [9, 7, 10],

})

print(notas_alunos_df)

    Nome  Media
0    Ana      9
1  Pedro      7
2   João     10