In [1]:
import pandas as pd

In [ ]:
# Lendo as planilhas 
vendas_df = pd.read_excel(r"Arquivos\Vendas_Merge.xlsx")
vendedores_df = pd.read_excel(r"Arquivos\Vendedores_Merge.xlsx")
produtos_df = pd.read_excel(r"Arquivos\Produtos_Merge.xlsx")

display(produtos_df)

In [7]:
#Merge - Uniu através de um denominador em comum
vendas_df = vendas_df.merge(vendedores_df)
display(vendas_df)

,Id Vendedor,ID Produto,Data Venda,Quantidade Vendida,Valor Unitário,Total Vendas,Vendedor,Meta
0,27264,100482,2023-01-01,8,89.99,719.92,Leonardo Almeida,5000
1,27264,100345,2023-01-07,4,150.50,602.00,Leonardo Almeida,5000
2,27264,100208,2023-01-11,6,46.90,281.40,Leonardo Almeida,5000
3,27264,100244,2023-01-20,9,146.14,1315.26,Leonardo Almeida,5000
4,27264,100345,2023-01-22,6,150.50,903.00,Leonardo Almeida,5000
5,21732,100359,2023-01-02,2,69.99,139.98,Eliane Moreira,5000
6,21732,100411,2023-01-08,4,248.73,994.92,Eliane Moreira,5000
7,21732,100226,2023-01-12,2,41.90,83.80,Eliane Moreira,5000
8,21732,100001,2023-01-15,8,89.90,719.20,Eliane Moreira,5000
9,21732,100105,2023-01-18,7,153.40,1073.80,Eliane Moreira,5000
10,21732,100411,2023-01-23,4,248.73,994.92,Eliane Moreira,5000
11,21732,100208,2023-01-26,5,46.90,234.50,Eliane Moreira,5000
12,27082,100105,2023-01-03,2,153.40,306.80,Nicolas Pereira,5000
13,27082,100128,2023-01-09,9,116.52,1048.68,Nicolas Pereira,5000
14,27082,100128,2023-01-13,7,81.90,573.30,Nicolas Pereira,5000
15,27082,100212,2023-01-19,7,148.56,1039.92,Nicolas Pereira,5000
16,27082,100128,2023-01-24,9,116.52,1048.68,Nicolas Pereira,5000
17,27082,100226,2023-01-27,9,41.90,377.10,Nicolas Pereira,5000
18,22936,100212,2023-01-04,10,148.56,1485.60,Amanda Martins,5000
19,22936,100877,2023-01-10,1,59.90,59.90,Amanda Martins,5000
20,22936,100443,2023-01-14,9,55.90,503.10,Amanda Martins,5000
21,22936,100877,2023-01-25,8,59.90,479.20,Amanda Martins,5000
22,22936,100128,2023-01-28,9,81.90,737.10,Amanda Martins,5000
23,21164,100244,2023-01-05,6,146.14,876.84,Paulo Santos,5000
24,28824,100301,2023-01-06,2,224.14,448.28,Gabriel Cardoso,5000
25,28824,100301,2023-01-21,6,224.14,1344.84,Gabriel Cardoso,5000
26,37579,100482,2023-01-16,4,89.99,359.96,Angela Maria,5000
27,20437,100359,2023-01-17,7,69.99,489.93,Carlos Moreira,5000

In [8]:
#Merge - Uniu através de um denominador em comum
vendas_df = vendas_df.merge(produtos_df)
display(vendas_df)

,Id Vendedor,ID Produto,Data Venda,Quantidade Vendida,Valor Unitário,Total Vendas,Vendedor,Meta,Produto
0,27264,100482,2023-01-01,8,89.99,719.92,Leonardo Almeida,5000,Tênis Feminino
1,37579,100482,2023-01-16,4,89.99,359.96,Angela Maria,5000,Tênis Feminino
2,27264,100345,2023-01-07,4,150.50,602.00,Leonardo Almeida,5000,Jaqueta Masculina Preta
3,27264,100345,2023-01-22,6,150.50,903.00,Leonardo Almeida,5000,Jaqueta Masculina Preta
4,27264,100208,2023-01-11,6,46.90,281.40,Leonardo Almeida,5000,Calça Bailarina
5,21732,100208,2023-01-26,5,46.90,234.50,Eliane Moreira,5000,Calça Bailarina
6,27264,100244,2023-01-20,9,146.14,1315.26,Leonardo Almeida,5000,Camisa Masculina Festa Balada
7,21164,100244,2023-01-05,6,146.14,876.84,Paulo Santos,5000,Camisa Masculina Festa Balada
8,21732,100359,2023-01-02,2,69.99,139.98,Eliane Moreira,5000,Calça Feminina Jogger
9,20437,100359,2023-01-17,7,69.99,489.93,Carlos Moreira,5000,Calça Feminina Jogger
10,21732,100411,2023-01-08,4,248.73,994.92,Eliane Moreira,5000,Bolsa de Trabalho
11,21732,100411,2023-01-23,4,248.73,994.92,Eliane Moreira,5000,Bolsa de Trabalho
12,21732,100226,2023-01-12,2,41.90,83.80,Eliane Moreira,5000,Camisa Térmica
13,27082,100226,2023-01-27,9,41.90,377.10,Nicolas Pereira,5000,Camisa Térmica
14,21732,100001,2023-01-15,8,89.90,719.20,Eliane Moreira,5000,Colar Pingente
15,21732,100105,2023-01-18,7,153.40,1073.80,Eliane Moreira,5000,Camisa Masculina
16,27082,100105,2023-01-03,2,153.40,306.80,Nicolas Pereira,5000,Camisa Masculina
17,27082,100128,2023-01-09,9,116.52,1048.68,Nicolas Pereira,5000,Kit de Pinceis de Maquiagem
18,27082,100128,2023-01-24,9,116.52,1048.68,Nicolas Pereira,5000,Kit de Pinceis de Maquiagem
19,27082,100128,2023-01-13,7,81.90,573.30,Nicolas Pereira,5000,Sapato Social
20,22936,100128,2023-01-28,9,81.90,737.10,Amanda Martins,5000,Sapato Social
21,27082,100212,2023-01-19,7,148.56,1039.92,Nicolas Pereira,5000,Bermuda Masculino
22,22936,100212,2023-01-04,10,148.56,1485.60,Amanda Martins,5000,Bermuda Masculino
23,22936,100877,2023-01-10,1,59.90,59.90,Amanda Martins,5000,Vestido Infantil
24,22936,100877,2023-01-25,8,59.90,479.20,Amanda Martins,5000,Vestido Infantil
25,22936,100443,2023-01-14,9,55.90,503.10,Amanda Martins,5000,Sapatilha Sapato
26,28824,100301,2023-01-06,2,224.14,448.28,Gabriel Cardoso,5000,Bota Masculina
27,28824,100301,2023-01-21,6,224.14,1344.84,Gabriel Cardoso,5000,Bota Masculina

In [9]:
#Merge - Uniu através de um denominador em comum
vendas_df = vendas_df.merge(produtos_df)
vendas_df = vendas_df.merge(vendedores_df)
display(vendas_df)

,Id Vendedor,ID Produto,Data Venda,Quantidade Vendida,Valor Unitário,Total Vendas,Vendedor,Meta,Produto
0,27264,100482,2023-01-01,8,89.99,719.92,Leonardo Almeida,5000,Tênis Feminino
1,27264,100345,2023-01-07,4,150.50,602.00,Leonardo Almeida,5000,Jaqueta Masculina Preta
2,27264,100345,2023-01-22,6,150.50,903.00,Leonardo Almeida,5000,Jaqueta Masculina Preta
3,27264,100208,2023-01-11,6,46.90,281.40,Leonardo Almeida,5000,Calça Bailarina
4,27264,100244,2023-01-20,9,146.14,1315.26,Leonardo Almeida,5000,Camisa Masculina Festa Balada
5,37579,100482,2023-01-16,4,89.99,359.96,Angela Maria,5000,Tênis Feminino
6,21732,100208,2023-01-26,5,46.90,234.50,Eliane Moreira,5000,Calça Bailarina
7,21732,100359,2023-01-02,2,69.99,139.98,Eliane Moreira,5000,Calça Feminina Jogger
8,21732,100411,2023-01-08,4,248.73,994.92,Eliane Moreira,5000,Bolsa de Trabalho
9,21732,100411,2023-01-23,4,248.73,994.92,Eliane Moreira,5000,Bolsa de Trabalho
10,21732,100226,2023-01-12,2,41.90,83.80,Eliane Moreira,5000,Camisa Térmica
11,21732,100001,2023-01-15,8,89.90,719.20,Eliane Moreira,5000,Colar Pingente
12,21732,100105,2023-01-18,7,153.40,1073.80,Eliane Moreira,5000,Camisa Masculina
13,21164,100244,2023-01-05,6,146.14,876.84,Paulo Santos,5000,Camisa Masculina Festa Balada
14,20437,100359,2023-01-17,7,69.99,489.93,Carlos Moreira,5000,Calça Feminina Jogger
15,27082,100226,2023-01-27,9,41.90,377.10,Nicolas Pereira,5000,Camisa Térmica
16,27082,100105,2023-01-03,2,153.40,306.80,Nicolas Pereira,5000,Camisa Masculina
17,27082,100128,2023-01-09,9,116.52,1048.68,Nicolas Pereira,5000,Kit de Pinceis de Maquiagem
18,27082,100128,2023-01-24,9,116.52,1048.68,Nicolas Pereira,5000,Kit de Pinceis de Maquiagem
19,27082,100128,2023-01-13,7,81.90,573.30,Nicolas Pereira,5000,Sapato Social
20,27082,100212,2023-01-19,7,148.56,1039.92,Nicolas Pereira,5000,Bermuda Masculino
21,22936,100128,2023-01-28,9,81.90,737.10,Amanda Martins,5000,Sapato Social
22,22936,100212,2023-01-04,10,148.56,1485.60,Amanda Martins,5000,Bermuda Masculino
23,22936,100877,2023-01-10,1,59.90,59.90,Amanda Martins,5000,Vestido Infantil
24,22936,100877,2023-01-25,8,59.90,479.20,Amanda Martins,5000,Vestido Infantil
25,22936,100443,2023-01-14,9,55.90,503.10,Amanda Martins,5000,Sapatilha Sapato
26,28824,100301,2023-01-06,2,224.14,448.28,Gabriel Cardoso,5000,Bota Masculina
27,28824,100301,2023-01-21,6,224.14,1344.84,Gabriel Cardoso,5000,Bota Masculina

In [ ]:
resumo_df = vendas_df[['Vendedor', 'Produto', 'Total Vendas']]
display(resumo_df)